* {	box-sizing: border-box;}

body, html {
	height: 100%;
	min-height: 100%;
	margin: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
}
/***********/
.inline-block {
	display: inline-block;
}

.hidden {
	display: none;
}

.centredY {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.centredX {
	position: absolute;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.centredXY {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}