.container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
}

header::after, .container::after, .row::after, .clearfix::after, footer::after {
	content: '';
	display: block;
	height: 0;
	clear: both;
}