@media all and (max-height: 800px) {
	.col-12 {
		float: left;
		width: 45%;
	}
	.block-request {
		padding-top: 80px!important;
		padding-bottom: 80px!important;
	}
	h2 {
		margin-top: 170px;
		font-size: 28px;
	}
	.block-request__form {
		float: right;
	}
}