@import url(grid.less);
@import url(typography.less);
@import url(general.less);
@import url(bg.less);
@import url(transition.less);
@import url(media.less);

/*MAIN*/

.block-request {
	padding-top: 40px;
	padding-bottom: 40px;
	color: #fff;
	h2 {
		text-align: center;
	}
	h3 {
		margin: 0;
	}
	form {
		padding-top: 40px;
	}
	&__form {
		width: 460px;
		margin-top: 40px;
		margin-right: auto;
		margin-left: auto;
		padding: 40px;
		background: rgba(73,50,30,.5);
		border-radius: 5px;
		margin-bottom: 30px;
		&__field {
			position: relative;
		}
	}
	input {
		font-size: 14px;
	}
	input:not([type="submit"]) {
		margin-bottom: 25px;
	}
}

.fjs--test-alert {
	position: absolute;
	top: 0px;
	left: 107%;
	width: 200px;
	padding: 5px 10px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	border: 2px solid @color_submain;
	border-radius: 5px;
	background-color: @color_submain;
	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: -16px;
		border: 7px solid transparent;
		border-right: 7px solid @color_submain;
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

.block-thanks {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	text-align: center;
	background-color: @color_main;
	h1 {
		position: absolute;
		top: 50%;
		left: 50%;
		color: #fff;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

.fjs-position {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}