@color_main : #49311e;
@color_submain : #2e1006;

body {
	font-family: 'Open Sans', sans-serif;
}

h2, .h2 {font-size: 39px}
h3, .h3 {font-size: 28px}
h4, .h4 {font-size: 24px}
h5, .h5 {font-size: 20px}

.bigger-tx {font-size: 18px}

p {
	font-size: 14px;
	line-height: 24px;
	color: #fff;
}

.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}

.bold {
	font-weight: 700;
}

a {
	color: #fff;
	text-decoration: none;
}

ul.list-unstyled li {
	list-style-type: none;
}

ul.list-inline li {
	display: inline-block;
}

input {
	width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px @color_main !important; /* Цвет фона */
    -webkit-text-fill-color: #fafafa !important; /* цвет текста */
    background-color: @color_main !important;
    color: #fafafa !important; /* цвет текста */
}

::-webkit-input-placeholder {color:#fafafa;}
::-moz-placeholder          {color:#fafafa;}
:-moz-placeholder           {color:#fafafa;}
:-ms-input-placeholder      {color:#fafafa;}

input, textarea {
	padding: 15px 20px;
	color: #fff;
	font-size: 14px;
	border: 0;
	border-radius: 5px;
	background-color: @color_main;
	&:hover, &:focus {
		outline: none;
	}
}

textarea {
	resize: none;
}

/********/
.btn {
	display: inline-block;
	min-width: 180px;
	padding: 15px 20px;
	font-weight: 700;
	text-align: center;
	&_main {
		color: #fff;
		background-color: @color_submain;
		&:hover {
			background-color: lighten(@color_submain, 5%);
		}
	}
}